In [1]:
import pandas as pd

In [2]:
def abrir (nombre_archivo):
    '''
    Abre el archivo csv
    '''
    df1 = pd.read_csv(nombre_archivo, on_bad_lines='skip', index_col=0)
    return df1

In [4]:
df = abrir('true_cost_fast_fashion.csv')
df.head()

,Country,Year,Monthly_Production_Tonnes,Avg_Item_Price_USD,Release_Cycles_Per_Year,Carbon_Emissions_tCO2e,Water_Usage_Million_Litres,Landfill_Waste_Tonnes,Avg_Worker_Wage_USD,Working_Hours_Per_Week,...,Instagram_Mentions_Thousands,TikTok_Mentions_Thousands,Sentiment_Score,Social_Sentiment_Label,GDP_Contribution_Million_USD,Env_Cost_Index,Sustainability_Score,Transparency_Index,Compliance_Score,Ethical_Rating
Brand,,,,,,,,,,,,,,,,,,,,,
Shein,Indonesia,2017,574.51,19.31,16,11421.58,282.11,616.63,143.79,50,...,4655,3435,0.05,Neutral,608.51,0.49,29.12,61.19,13.95,1.46
Forever 21,Vietnam,2024,394.50,9.30,20,5571.01,289.22,795.11,167.78,44,...,9655,6285,-0.12,Positive,689.49,0.21,49.52,3.44,90.93,1.29
Uniqlo,India,2024,310.23,25.46,11,10969.00,116.39,364.33,97.81,43,...,8016,387,0.08,Neutral,439.78,0.63,96.53,60.70,27.60,1.48
Forever 21,USA,2017,218.65,13.17,13,13093.00,255.88,632.16,134.54,46,...,8254,1620,-0.06,Neutral,746.70,0.21,71.32,76.08,56.13,3.85
Zara,Indonesia,2016,1005.84,15.40,20,9548.40,142.07,830.10,144.33,56,...,1778,3292,-0.59,Neutral,571.42,0.95,59.89,69.48,88.05,3.12

In [3]:
def eda_basico(df):

    print('🔆Ejemplo de datos del df:')
    print('________________________________________________________________________________________________________')
    print('☘️primeras 3 filas:')
    display(df.head(3))
    print('________________________________________________________________________________________________________')
    print('🌟últimas 3 filas:')
    display(df.tail(3))
    print('________________________________________________________________________________________________________')
    print('🌸Muestra aleatoria de 3 filas:')
    display(df.sample(3))
    print('________________________________________________________________________________________________________')

    print('🌻Número de Filas:')
    display(df.shape[0])
    print('________________________________________________________________________________________________________')

    print('🌱Número de Columnas:')
    display(df.shape[1])
    print('________________________________________________________________________________________________________')

    print('🌼Información de la tabla:')
    display(df.info())
    print('________________________________________________________________________________________________________')

    print('⚜️Nombre de las columnas:')
    display(df.columns)
    print('________________________________________________________________________________________________________')

    print('🔢Descripción de los datos numéricos:')
    display(df.describe().T)
    print('________________________________________________________________________________________________________')

    print('🔡Descripción de los datos no-numéricos:')
    display(df.describe(include='object').T)
    print('________________________________________________________________________________________________________')

    print('🔵Saber si hay datos únicos:')
    display(df.nunique())
    print('________________________________________________________________________________________________________')

    print('🚀 Valores únicos en columnas categóricas:')
    for col in df.select_dtypes(include='object'):
        print(f'🔸 {col}')
        print('-----------------------------')
        print(df[col].unique())
        print('________________________________________________________________________________________________________')

    print('❌Que datos son nulos por columnas:')
    display(df.isnull().sum())
    print('________________________________________________________________________________________________________')

    print('⚠️Filas duplicadas:')
    total_duplicados = df.duplicated().sum()
    if total_duplicados > 0:
        print(f'cantidad de duplicados: {total_duplicados}')
        print('Primeros duplicados')
        display(df[df.duplicated()].head(3))
    else:
        print('No hay duplicados')
    print('________________________________________________________________________________________________________')
    return

In [4]:
eda_basico(df)

🔆Ejemplo de datos del df:
________________________________________________________________________________________________________
☘️primeras 3 filas:

,Brand,Country,Year,Monthly_Production_Tonnes,Avg_Item_Price_USD,Release_Cycles_Per_Year,Carbon_Emissions_tCO2e,Water_Usage_Million_Litres,Landfill_Waste_Tonnes,Avg_Worker_Wage_USD,...,Instagram_Mentions_Thousands,TikTok_Mentions_Thousands,Sentiment_Score,Social_Sentiment_Label,GDP_Contribution_Million_USD,Env_Cost_Index,Sustainability_Score,Transparency_Index,Compliance_Score,Ethical_Rating
0,Shein,Indonesia,2017,574.51,19.31,16,11421.58,282.11,616.63,143.79,...,4655,3435,0.05,Neutral,608.51,0.49,29.12,61.19,13.95,1.46
1,Forever 21,Vietnam,2024,394.50,9.30,20,5571.01,289.22,795.11,167.78,...,9655,6285,-0.12,Positive,689.49,0.21,49.52,3.44,90.93,1.29
2,Uniqlo,India,2024,310.23,25.46,11,10969.00,116.39,364.33,97.81,...,8016,387,0.08,Neutral,439.78,0.63,96.53,60.70,27.60,1.48

________________________________________________________________________________________________________
🌟últimas 3 filas:

,Brand,Country,Year,Monthly_Production_Tonnes,Avg_Item_Price_USD,Release_Cycles_Per_Year,Carbon_Emissions_tCO2e,Water_Usage_Million_Litres,Landfill_Waste_Tonnes,Avg_Worker_Wage_USD,...,Instagram_Mentions_Thousands,TikTok_Mentions_Thousands,Sentiment_Score,Social_Sentiment_Label,GDP_Contribution_Million_USD,Env_Cost_Index,Sustainability_Score,Transparency_Index,Compliance_Score,Ethical_Rating
2997,Zara,China,2023,370.31,22.25,22,3385.09,211.81,906.82,104.30,...,6427,4743,-0.71,Negative,607.47,0.75,42.57,75.29,55.28,0.20
2998,Shein,Brazil,2015,649.20,23.00,14,10822.80,232.33,818.08,140.45,...,4487,5178,-0.34,Negative,509.98,0.32,5.59,16.66,20.73,2.89
2999,Zara,India,2018,602.77,13.95,28,8013.18,288.37,360.61,121.67,...,2927,7713,-0.53,Neutral,263.38,0.67,72.84,94.53,40.91,3.53

________________________________________________________________________________________________________
🌸Muestra aleatoria de 3 filas:

,Brand,Country,Year,Monthly_Production_Tonnes,Avg_Item_Price_USD,Release_Cycles_Per_Year,Carbon_Emissions_tCO2e,Water_Usage_Million_Litres,Landfill_Waste_Tonnes,Avg_Worker_Wage_USD,...,Instagram_Mentions_Thousands,TikTok_Mentions_Thousands,Sentiment_Score,Social_Sentiment_Label,GDP_Contribution_Million_USD,Env_Cost_Index,Sustainability_Score,Transparency_Index,Compliance_Score,Ethical_Rating
2559,Shein,USA,2016,467.22,24.86,6,7732.44,112.46,903.89,91.11,...,4792,4571,0.38,Negative,502.23,0.99,51.58,99.44,46.08,2.67
1862,H&M,Germany,2024,374.50,17.18,22,6503.25,119.50,847.84,204.71,...,4045,5522,0.04,Negative,895.09,0.45,7.71,13.33,1.17,4.99
2569,Zara,Vietnam,2019,643.90,15.28,14,17170.47,184.64,758.59,94.22,...,1341,7136,-0.36,Neutral,573.65,0.50,65.80,53.48,55.15,0.78

________________________________________________________________________________________________________
🌻Número de Filas:

3000

________________________________________________________________________________________________________
🌱Número de Columnas:

25

________________________________________________________________________________________________________
🌼Información de la tabla:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Brand                         3000 non-null   object
 1   Country                       3000 non-null   object
 2   Year                          3000 non-null   int64
 3   Monthly_Production_Tonnes     3000 non-null   float64
 4   Avg_Item_Price_USD            3000 non-null   float64
 5   Release_Cycles_Per_Year       3000 non-null   int64
 6   Carbon_Emissions_tCO2e        3000 non-null   float64
 7   Water_Usage_Million_Litres    3000 non-null   float64
 8   Landfill_Waste_Tonnes         3000 non-null   float64
 9   Avg_Worker_Wage_USD           3000 non-null   float64
 10  Working_Hours_Per_Week        3000 non-null   int64
 11  Child_Labor_Incidents         3000 non-null   int64
 12  Return_Rate_Percent           3000 non-null   float64
 13  Avg_Spend_Per_Customer_USD    3000 non-null   float64
 14  Shopping_Frequency_Per_Year   3000 non-null   int64
 15  Instagram_Mentions_Thousands  3000 non-null   int64
 16  TikTok_Mentions_Thousands     3000 non-null   int64
 17  Sentiment_Score               3000 non-null   float64
 18  Social_Sentiment_Label        3000 non-null   object
 19  GDP_Contribution_Million_USD  3000 non-null   float64
 20  Env_Cost_Index                3000 non-null   float64
 21  Sustainability_Score          3000 non-null   float64
 22  Transparency_Index            3000 non-null   float64
 23  Compliance_Score              3000 non-null   float64
 24  Ethical_Rating                3000 non-null   float64
dtypes: float64(15), int64(7), object(3)
memory usage: 586.1+ KB

None

________________________________________________________________________________________________________
⚜️Nombre de las columnas:

Index(['Brand', 'Country', 'Year', 'Monthly_Production_Tonnes',
       'Avg_Item_Price_USD', 'Release_Cycles_Per_Year',
       'Carbon_Emissions_tCO2e', 'Water_Usage_Million_Litres',
       'Landfill_Waste_Tonnes', 'Avg_Worker_Wage_USD',
       'Working_Hours_Per_Week', 'Child_Labor_Incidents',
       'Return_Rate_Percent', 'Avg_Spend_Per_Customer_USD',
       'Shopping_Frequency_Per_Year', 'Instagram_Mentions_Thousands',
       'TikTok_Mentions_Thousands', 'Sentiment_Score',
       'Social_Sentiment_Label', 'GDP_Contribution_Million_USD',
       'Env_Cost_Index', 'Sustainability_Score', 'Transparency_Index',
       'Compliance_Score', 'Ethical_Rating'],
      dtype='object')

________________________________________________________________________________________________________
🔢Descripción de los datos numéricos:

,count,mean,std,min,25%,50%,75%,max
Year,3000.0,2019.529667,2.894002,2015.00,2017.0000,2020.000,2022.0000,2024.00
Monthly_Production_Tonnes,3000.0,497.319890,149.543176,3.82,396.3600,495.535,596.8000,1005.84
Avg_Item_Price_USD,3000.0,19.936187,4.919126,1.09,16.5400,19.890,23.3200,36.46
Release_Cycles_Per_Year,3000.0,17.757333,6.981358,6.00,12.0000,18.000,24.0000,29.00
Carbon_Emissions_tCO2e,3000.0,10003.873717,3017.980553,206.09,7892.1125,9926.940,12012.6250,19585.47
Water_Usage_Million_Litres,3000.0,200.924420,60.483385,-38.06,160.3175,200.315,240.6625,403.83
Landfill_Waste_Tonnes,3000.0,795.028837,201.440989,58.24,655.8400,799.995,934.1475,1480.38
Avg_Worker_Wage_USD,3000.0,149.817727,49.792421,-52.70,116.6925,149.695,183.7475,326.45
Working_Hours_Per_Week,3000.0,54.695000,8.648675,40.00,47.0000,55.000,62.0000,69.00
Child_Labor_Incidents,3000.0,0.997000,1.005648,0.00,0.0000,1.000,2.0000,5.00
Return_Rate_Percent,3000.0,25.144843,8.600080,10.00,17.7200,25.290,32.4750,39.99
Avg_Spend_Per_Customer_USD,3000.0,119.982873,29.444428,17.41,100.3850,120.070,140.0625,228.08
Shopping_Frequency_Per_Year,3000.0,11.008333,4.909613,3.00,7.0000,11.000,15.0000,19.00
Instagram_Mentions_Thousands,3000.0,5054.240667,2858.367381,110.00,2558.7500,5055.500,7499.2500,9998.00
TikTok_Mentions_Thousands,3000.0,3975.165667,2268.386606,54.00,2046.2500,3946.500,5854.2500,7995.00
Sentiment_Score,3000.0,0.001597,0.579073,-1.00,-0.4900,0.010,0.5000,1.00
GDP_Contribution_Million_USD,3000.0,503.092523,195.961926,-96.43,369.3700,503.990,634.1500,1145.80
Env_Cost_Index,3000.0,0.555630,0.263294,0.10,0.3300,0.560,0.7800,1.00
Sustainability_Score,3000.0,49.854920,28.627411,0.01,25.3225,50.400,74.5625,99.99
Transparency_Index,3000.0,49.551110,28.987450,0.07,25.1300,49.040,75.1450,99.97
Compliance_Score,3000.0,49.964307,28.855005,0.03,25.3525,50.235,74.6400,100.00
Ethical_Rating,3000.0,2.521597,1.443130,0.00,1.2700,2.530,3.7925,5.00

________________________________________________________________________________________________________
🔡Descripción de los datos no-numéricos:

                       count unique      top  freq
Brand                   3000      5      H&M   650
Country                 3000     10    India   314
Social_Sentiment_Label  3000      3  Neutral  1027

________________________________________________________________________________________________________
🔵Saber si hay datos únicos:

Brand                              5
Country                           10
Year                              10
Monthly_Production_Tonnes       2916
Avg_Item_Price_USD              1521
Release_Cycles_Per_Year           24
Carbon_Emissions_tCO2e          2998
Water_Usage_Million_Litres      2791
Landfill_Waste_Tonnes           2934
Avg_Worker_Wage_USD             2769
Working_Hours_Per_Week            30
Child_Labor_Incidents              6
Return_Rate_Percent             1882
Avg_Spend_Per_Customer_USD      2593
Shopping_Frequency_Per_Year       17
Instagram_Mentions_Thousands    2603
TikTok_Mentions_Thousands       2524
Sentiment_Score                  201
Social_Sentiment_Label             3
GDP_Contribution_Million_USD    2938
Env_Cost_Index                    91
Sustainability_Score            2575
Transparency_Index              2580
Compliance_Score                2610
Ethical_Rating                   499
dtype: int64

________________________________________________________________________________________________________
🚀 Valores únicos en columnas categóricas:
🔸 Brand
-----------------------------
['Shein' 'Forever 21' 'Uniqlo' 'Zara' 'H&M']
________________________________________________________________________________________________________
🔸 Country
-----------------------------
['Indonesia' 'Vietnam' 'India' 'USA' 'Turkey' 'Brazil' 'Bangladesh'
 'China' 'Germany' 'UK']
________________________________________________________________________________________________________
🔸 Social_Sentiment_Label
-----------------------------
['Neutral' 'Positive' 'Negative']
________________________________________________________________________________________________________
❌Que datos son nulos por columnas:

Brand                           0
Country                         0
Year                            0
Monthly_Production_Tonnes       0
Avg_Item_Price_USD              0
Release_Cycles_Per_Year         0
Carbon_Emissions_tCO2e          0
Water_Usage_Million_Litres      0
Landfill_Waste_Tonnes           0
Avg_Worker_Wage_USD             0
Working_Hours_Per_Week          0
Child_Labor_Incidents           0
Return_Rate_Percent             0
Avg_Spend_Per_Customer_USD      0
Shopping_Frequency_Per_Year     0
Instagram_Mentions_Thousands    0
TikTok_Mentions_Thousands       0
Sentiment_Score                 0
Social_Sentiment_Label          0
GDP_Contribution_Million_USD    0
Env_Cost_Index                  0
Sustainability_Score            0
Transparency_Index              0
Compliance_Score                0
Ethical_Rating                  0
dtype: int64

________________________________________________________________________________________________________
⚠️Filas duplicadas:
No hay duplicados
________________________________________________________________________________________________________